# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# macOS
.DS_Store

# Model binaries (large files — commit metrics/configs only)
#*.pt
*.npz

# Logs & temp
logs/
*.log
*.txt

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
